<% content_for :title, "Editing instalacao" %>

<h1>Editing instalacao</h1>

<%= render "form", instalacao: @instalacao %>

<br>

<div>
  <%= link_to "Show this instalacao", @instalacao %> |
  <%= link_to "Back to instalacaos", instalacaos_path %>
</div>
