<% content_for :title, "Editing binario" %>

<h1>Editing binario</h1>

<%= render "form", binario: @binario %>

<br>

<div>
  <%= link_to "Show this binario", @binario %> |
  <%= link_to "Back to binarios", binarios_path %>
</div>
